* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

header {
    background-color: #fc5185;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 5px solid#000000;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
}

.testmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainweb {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logoweb a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.mainmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.mainmenu li {
    margin-right: 20px;
}

.mainmenu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.mainmenu a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.isi {
    margin-top: 50px;
    margin-bottom: 50px;
}

.isi .content {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans-ms', cursive;
    color: #1F2544;
}

h2 {
    font-family: "comic sans ms";
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #1F2544;
    width: 100%;
    line-height: 50px;
}

a.tbl-pink {
    background: #fc5185;
    border-radius: 17px;
    margin-top: 14px;
    padding: 5px 10px 5px 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #3f72af;
    color: #FFFFFF;
    text-decoration: underline;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.mid{
    text-align: center;
    width:100%;
}

.list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.placing{
    width: 20%;
    margin: 0 auto;
}

.placing2{
    width: 20%;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.placing3{
    width: 20%;
    margin: 0 auto;
}


.placing img{
    width: 60%;
    height: 65%;
    border-radius: 50%;
}

.placing2 img{
    width: 70%;
    height: 65%;
    
}

.placing3 img{
    width: 80%;
    height: 78%;
    border-radius: 50%;
}

.placing p{
    font-family: "comic sans ms";
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    color: #1F2544;
}

.placing2 p{
    font-family: "comic sans ms";
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    color: #1F2544;
}

.placing2 p2 {
    font-family: "comic sans ms";
    font-weight: 800; 
    font-size: 15px;
    text-align: center;
    color: #1F2544;
}

.placing2 p{
    font-family: "comic sans ms";
    font-weight: 800;
    font-size: 7px;
    text-align: center;
    color: #1F2544;
}

.placing3 p{
    font-family: "comic sans ms";
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    color: #1F2544;
}

@media screen and (max-width: 991.98px) {
    .mainweb {
        width: 90%;
    }

    .logoweb a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .mainmenu {
        width: 100%;
        margin: 0;
    }

    nav .mainmenu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .mainmenu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .placing,
    .placing2,
    .placing3 {
        width: 100%;
    }
}

.swiper-container-wrapper {
    margin: 50px auto;
    max-width: 1000px;
    padding: 20 20px;
  }
  
  .swiper-container {
    width: 100%;
    height: 400px;
  }
  
  .swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .swiper-slide-active {
    opacity: 1;
  }
  
  .swiper-slide .mainweb {
    width: 100%;
  }

  .swiper-slide h2 {
    margin-top: 0;
  }

  